<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CttTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CttTest.Properties.Settings>
            <setting name="ScreenColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ActiveScreenColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StimulusColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StimulusFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ActiveStimulusColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ActiveStimulusFontColor" serializeAs="String">
                <value>Grey</value>
            </setting>
            <setting name="StimulusBorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StimulusGap" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BlankScreenDuration" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="StimulusDuration" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="InfoDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TestCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationInterruptsTrial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMultipleActivations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setups" serializeAs="String">
                <value />
            </setting>
        </CttTest.Properties.Settings>
    </userSettings>
</configuration>